* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', sans-serif;
    scroll-behavior: smooth;
    color: #5059c5;
}

a{
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0%;
    background-color: #f5f6ff;
    box-sizing: border-box;
    height: 100vh;
}

.simple_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
    padding: 5% auto;
}

.simple_detail h2,
input {
    margin: 5% auto;

}

.simple_detail p {
    margin: 5%;

}

.simple_detail img {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2%;
    margin: 3% auto;
}


.edit_profile {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border: 1px solid gray; */
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
}

.edit_profile h2 {
    margin: 5%;
    width: 100%;
}

.edit_profile .heading_profile {

    /* border-bottom: 1px solid gray; */
    width: 100%;
}

.edit_profile .form_profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0%;
}

.form_profile .input1 {
    font-size: 15px;
}


.contant_profile {

    padding: 2%;
    margin: 0% 10%;
}

input:focus {
    outline: none;
}

.click_button{
    width: 100%;
    margin: 0% auto;
    /* border-top: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
.back_button {
    text-align: center;
    background-color: #566ef3;
    color: white;
    padding: 13px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;
    width: 30%;
    margin: 5% auto;
}

.back_button:hover {
    color: white;
    background-color: #2945d0;
}




/* .main {
    display: flex;
    justify-content: space-around;
    height: 95vh;
    color:#c0cdf0;
    font-style: italic;
    font-family: 'Libre Baskerville', sans-serif;

}

.main .content_list {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #c0cdf0;
}

.main .content_list .name_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .content_list img {
    width: 25%;
    margin: 0% auto;
    border: 1px solid #3a3b3d;
    border-radius: 50%;
    padding: 2%;
}

.main .content_list .customer {
    display: flex;
    justify-content: space-evenly;
}

.main .content_list .key {
    width: 40%;
    margin-left: 50px;
    font-size: 21px;
    color: #3a3b3d;
}

.main .content_list .value {

    width: 45%;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
} */