.main{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.main .content_list{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0.1px 0.1px 5px black;


}

.main .content_list .customer , .speak{ 
    display: flex;
    justify-content: space-between;

}

.main .content_list  .key{
    width: 30%;
    margin-left: 50px;

}

.main .content_list  .value{

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 13px;
}

input {
    width: 80%;
    border: 0px;
   border-bottom:1px solid black;
}

input:focus {
    outline: none;
}
