/* @import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,200;1,400&display=swap');

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'open sans' , sans-serif;
    font-family: 'Tangerine', serif;
}

body {
    background-color: #3edac5;
}

.main {
    display: flex;
    border: 1px solid black;
    background-color: white;
    margin: 20px;
}

.main .sidebar {
    background-color: white;
    position: fixed;
    top: 10%;
    bottom: 2%;
    width: 20%;
    height: 80%;
    padding: 2%;
    transition: all 0.5s ease;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.sidebar ul {
    border: 1px solid black;
    padding: 0px;
    width: 100%;
    height: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}


.main .sidebar ul li a {
    padding: 15px;
    color: black;
    border-radius: 10px;
    font-size: 20px;
}

.main .sidebar ul li a .icons {
    width: 30px;
    display: inline-block;
    color: black;
}

.main .sidebar ul li {
    border: 1px solid black;
    width: 100%;
    padding: 15px;

}


.main .sidebar ul li :hover {
    color: black;
    background-color: #3edac5;

}

.select {
    width: calc(100% - 25%);
    margin-left: 25%;
    transition: all 0.5s ease;
}

.select .nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.welcome {
    font-size: 20px;
} */




/* home page start */

.back_link {
    /* background-color: #f5f6ff; */
    padding: 5% auto;
    margin: 2% 0% 8% 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

a{
    text-decoration: none;
}

.link_bank {
    width: 40%;
    box-sizing: border-box;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 1% 3%;
    padding: 3%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
}

.back_link img{
    width: 40%;
    /* margin: 0% auto; */
}

.link_bank form input {
    width: 60%;
    padding: 1%;
    margin-bottom: 3%;
}

.link_bank form button {
    margin: 5% auto;
    padding: 2% 10%;

}

.link_bank form input[type="radio"] {
    width: 25px;
    margin: 0% auto;
}


.bank_account {
    /* border: 1px solid black; */
    padding: 5%;
    margin: 2% auto;
    background-color: #f5f6ff;
    display: flex;
    justify-content: start;
    align-items: center;
}


.bank_account .bank {
    background-color: white;
    width: 25%;
    padding: 3%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
}

.bank_account .bank img {
    width: 30%;
}

.bank_account .bank input {
    display: block;
    width: 70%;
}

.welcome {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% auto;
    /* padding: 1%; */
    background-color: #f5f6ff;
    font-size: 18px;
}

.welcome #fname {
    font-size: 22px;
}

.welcome .search,
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.welcome .search input {
    padding: 3px;
    border: 0px;
    width: 100%;
    border-bottom: 1px solid #1a237e;
    background-color: #f5f6ff;

}

input:focus {
    outline: none;
}


.welcome .profile img {
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    margin-right: 15%;
    padding: 1%;
}

.welcome .search {
    padding: 1%;
}

.welcome .search img {
    width: 20px;
    margin-right: 5px;
}

/* .intro {
  border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1% 0%;
}

.intro .content {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    border: 1px solid black;
}

.intro .content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #1a237e;
    border: 1px solid black;
}

.intro .content p {
    color: #1a237e;
    font-size: 20px;
    text-align: justify;

}

.intro .content a {
    background-color: #4d64e4;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    text-align: center;
    margin: 20px 0px;
}

.intro img {
    width: 45%;
    height: 65%;
}

.about {
    background-color: #f5f6ff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about h1 {
    font-size: 45px;
    line-height: 60px;
    color: #1a237e;
    padding: 30px;
    text-align: center;
}

.about .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7%;
}

.about .feature .feature_details {
    border: 1.2px solid green;
    width: 25%;
    padding: 2%;
    color: #1a237e;
    background-color: white;
    background-image: url(../img/5dca97cd7789674d06d7495a_plan-box-img3.png);
    background-repeat: no-repeat;
    background-position: -10px 290px;
    border-radius: 15px;
    word-spacing: 10px;

}

.about .feature .feature_details:hover {
    transition: 3s all;
}

.about .feature .feature_details p {
    padding: 10%;
    color: #1a237e;
    font-size: 20px;
    padding: 40px 0px;
    letter-spacing: 1px;
}

.about .feature .feature_details img {
    width: 30%;
    height: 20%;
}

.img_align {
    z-index: .1;
}

.start_build {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start_build img {
    width: 50%;
}

.start_build .open_account {
    width: 50%;
    color: #1a237e;
    padding: 7%;
}

.start_build .open_account .heading {
    font-size: 40px;
    line-height: 65px;
    font-weight: 500;
    display: block;
    text-align: justify;


}

.start_build .open_account .box_content {
    display: flex;

}

.start_build .open_account .box_content .content_text {
    padding: 5%;
}

.start_build .open_account .box_content span {
    border-radius: 100%;
    padding: 15px;
    background-color: #e7f9f6;
    font-size: 15px;
    position: relative;
    right: 5%;

}

.content_text p {
    padding: 5% 1%;
    font-size: 20px;
    margin-left: 40px;
    text-align: justify;
}

.only_back {
    background-color: #f5f6ff;
}

.only_back img {
    width: 40%;
}  */

footer .back_foot {
    background-color: #7086ff;
    width: 78%;
    margin: 7% auto;
    color: black;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

footer .back_foot .icon_social,
footer .direct {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    /* border: 1px solid black; */
}

footer .back_foot .icon_social img {
    width: 50px;

}

footer h3 {
    margin: 4%;
}

footer .direct a {

    background-color: white;
    color: black;
    padding: 15px 14%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;

}