.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* background-image: linear-gradient(to right, #7587f8, #4ec6fa); */
    background-color: #f5f6ff;
}

a{
    text-decoration: none;
}

.welcome {

    width: 24%;
    color: #1a237e;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /* background-color: #f2f2f2; */
    background-color: white;
    box-shadow: 1px 1px .1px #f2f2f2;
    border-radius: 30px;
    padding: 5% 0%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}

.welcome img {
    width: 70%;
    margin: 0px auto;
    /* color: #1a237e; */
    border-bottom-left-radius: 250px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

}

.welcome button {
    background-color: #1a237e;
    color: #ebedee;
    font-weight: bolder;
    width: 60%;
    border-radius: 20px;
    border: 0px;
    padding: 4%;
    margin: 50px auto;

}

.sing_up {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    background-color: #f7f9fb;
    background-color: white;
    border-bottom-left-radius: 250px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;


    padding: .001%;
}


/* .for_button {

    padding: 1.5%;
    display: flex;
    justify-content: flex-end;
    width: 90%;

}

.for_button .back_blue {
    background-color: #31c9b5;
    color: white;
    display: flex;
    width: 50%;
    border-radius: 20px;
    padding: 3px;
    margin: 2%;
    justify-content: space-around;
    border: 1px solid black;
}

.for_button .top_button {
    background-color: #31c9b5;
    color: white;
    border: 0px;
    border-radius: 20px;
    padding: 12px 48px;
    width: 100%;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s;

}

.for_button .top_button:hover,
.hover {
    background-color: white;
    color: black;
} */


form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin: 5% 0%;
    /* color: #ebedee; */
}

.bottom_form {
    display: flex;
    justify-content: space-around;
}


/* .gender{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 160px;

} */

/* .align_gen{
    display: flex;
    flex-direction: column;
} */
.dob_child {
    width: 60%;
    display: flex;
    justify-content: center;
}

.require {
    display: flex;
    flex-wrap: wrap;
}

.btm_btn {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.bottom_button {
    background-color: #1a237e;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bolder;
    margin: 20px;
    cursor: pointer;
    transition: all 2s;
}

.bottom_button:hover {
    color: #ebedee;
    font-weight: bolder;
}

/* All page imput box and select box style */
input {
    /* border-radius: 7px; */
    border: 0px;
    box-shadow: 0px 1px rgb(85, 84, 84);
    margin: 30px;
    padding: 10px;
    width: 30%;
    /* background: #f7f9fb; */
}

input:focus {
    outline: none;
}

/* All page input type radio only style */
input[type="radio"] {

    box-shadow: none;
    width: 50px;
    margin: 0px;
    font-size: 20px;
}

input[type="radio"][label] {
    font-size: 15px;
}

input[type="date"] {
    width: 40%;
}

.gender {
    width: 30%;
    margin: 30px;
    padding: 10px;

}